# --- Unity ---
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Log]s/
**/[Aa]ny[Vv]ideo[Cc]ache/
*.csproj
*.unitypackage
*.sln

# --- Java (IntelliJ/Maven/Gradle) ---
**/target/
**/out/
**/build/
.idea/
*.class
*.jar
*.war
*.ear

# --- OS Junk ---
.DS_Store
Thumbs.db